// $colorRojo=;
$letraParrafo : Verdana;
$letraTitulo : Franklin Gothic Medium;


body{
    display: grid;
}
span{
    font-family: $letraTitulo;
    font-size: 20px;
}
nav{
    color: white;
    font-size: $letraParrafo;
    span{
        color: #FF0000;
    }
    #login{
        align-items: center;
        justify-content: center;
    }
}
.carousel-inner{
    img{
        width: 100%;
        height: auto;
        filter: brightness(30%);
    }
    #texto{     
        color: white;
    }

}
.row{
    img{
        height: 14em;
      border-radius: 5px;  
    }
    h5{
        font-family: $letraTitulo;
        
    }
    p{
        font-family: $letraParrafo;
    }
}

h1{
    font-family: $letraTitulo;
}
label{
    font-family: $letraParrafo;
    font-weight: bold;
}
#small-s{
    font-size: 10px;
    max-width: 50%;
}

#footer{
    color: white;
    a{
        color: white;
    }
}
#lista_buscar{
    position: fixed;
    top:165px;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    z-index: 8;
    background: white;
    overflow: hidden;
    display:none;
}
#lista_buscar li a{
    display: block;
    width: 500px;
    color: #777777;
    padding: 12px 20px;
}
#lista_buscar li a:hover{
    background: #f3f3f3;

}
#lista_buscar li a i{
    margin-right: 10px;
    color: #777777; 
}
