// $colorRojo=;
$letraParrafo : Verdana;
$letraTitulo : Franklin Gothic Medium;


body{
    display: grid;
    
}

.container{
    align-self: center;
    justify-self: center;
    font-family:  'Franklin Gothic Medium';
}

ul{
    
}