// $colorRojo=;
$letraParrafo : Verdana;
$letraTitulo : Franklin Gothic Medium;


body{
    display: grid;
    
}
header{
    .nav-link{
       color:white;
    }
    width: 100%;
    height: ;
}

.container{
    align-self: center;
    justify-self: center;
    h2{
        font-family:  $letraTitulo;
    }
    p{
        font-family:  $letraParrafo;
    }
}

ul{
    
}