// $colorRojo=;
$letraParrafo : Verdana;
$letraTitulo : Franklin Gothic Medium;


body{
    display: grid;
}
span{
    font-family: $letraTitulo;
    font-size: 20px;
}
nav{
    color: white;
    font-size: $letraParrafo;
    span{
        color: #FF0000;
    }
    #login{
        align-items: center;
        justify-content: center;
    }
}
.carousel-inner{
    img{
        width: 100%;
        height: auto;
        filter: brightness(30%);
    }
    #texto{     
        color: white;
    }

}
.row{
    img{
        height: 14em;
      border-radius: 5px;  
    }
    h5{
        font-family: $letraTitulo;
        
    }
    p{
        font-family: $letraParrafo;
    }
}

#formulario_crear{
    size: 80px;
}

#footer{
    color: white;
    a{
        color: white;
    }
}