<%- include("../template/cabecera") %>
<div class="container ">
    <h1 class="d-flex flex-row justify-content-center alig-items-center">Añadir figura</h1>
        <div class="d-flex flex-row justify-content-center alig-items-center">
            <form action="/figura" method="post">
                <div class="form-group p-2">
                    <label for="titulo" class="text-danger p-1 me-5">Título del figura:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce el título del figura" class="form-class" id="titulo" name="titulo" size="50%">
                </div>
                <div class="form-group p-2">
                    <label for="autor" class="text-danger p-1">Nombre del autor:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce el autor" class="form-class" id="autor" name="autor" size="50%">
                </div>
                <div class="form-group p-2">
                    <label for="numPagina" class="text-danger p-1">Número de páginas:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce el número de páginas" class="form-class" id="numPagina" name="numPagina" size="50%">
                </div>
                <div class="form-group p-2" >
                    <label for="editorial" class="text-danger p-1">Nombre de la editorial:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce editorial" class="form-class" id="editorial" name="editorial"  size="50%"><br>
                    <small id="small-s" class="p-1" class="form-text text-muted">Las editoriales que se tienen que introducir son Ivrea, MILKY WAY EDICIONES,  Norma Editorial,<br> Panini Comics, Planeta De Agostini.</small>

                </div>
                <div class="form-group p-2">
                    <label for="categoria" class="text-danger p-1 mr-">Categoría del figura:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce categoría" class="form-class" id="categoria" name="categoria" size="50%"><br>
                    <small id="small-s"  class="p-1 m-1" class="form-text text-muted">Las categorías que debes introducir son Progresivo, Cyberpunk,
                         Ecchi, Furry, Gekiga, Gore,<br> Harem,  Harem reverso, Hentai, Kemono, Mahō shōjo, Victoriana Histórica, Realidad virtual, 
                         <br>Juego de Supervivencia, Romakome, Shōjo-ai o Yuri, Shōnen-ai y Yao, Spokon, Mecha o <br>Jidaimono.
                        </small>

                </div>
                <div class="form-group p-2" >
                    <label for="tipoTapa" class="text-danger p-1">Tipo de tapa:</label><br>
                    <input type="text" class="m-1" placeholder="Tipo de tapa" class="form-class" id="tipoTapa" name="tipoTapa"  size="50%"><br>
                    <small id="small-s"  class="p-1" class="form-text text-muted">Tapa blanda o tapa dura.</small>
                </div>
                <div class="form-group p-2">
                    <label for="tamanio" class="text-danger p-1">Tamaño del figura:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce tamaño" class="form-class" id="tamanio" name="tamanio"  size="50%"><br>
                    <small id="small-s" class="p-1" class="form-text text-muted">Tamaño bolsillo o tamaño rústico.</small>
                </div>
                <div class="form-group p-2">
                    <label for="precio" class="text-danger p-1">Precio del figura:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce precio" class="form-class" id="precio" name="precio"  size="50%">
                </div>
                <button type="submit" class="btn btn-danger m-2">Añadir</button>
            </form>
        </div>
    

</div>
    

<%- include("../template/footer") %>
