<%- include("../template/cabecera") %>
<div class="container ">
    <h1 class="d-flex flex-row justify-content-center alig-items-center">Añadir figura</h1>
        <div class="d-flex flex-row justify-content-center alig-items-center">
            <form action="/figura" method="post">
                <div class="form-group p-2">
                    <label for="titulo" class="text-danger p-1 me-5">Nombre de la figura:</label><br>
                    <input type="text" placeholder="Introduce el nombre de la figura" class="form-class m-1" id="nombre" name="nombre" size="50%">
                </div>
                <div class="form-group p-2">
                    <label for="categoria" class="text-danger p-1 mr-">Categoría de la figura:</label><br>
                    <input type="text" placeholder="Introduce categoría" class="form-class m-1" id="categoria" name="categoria" size="50%"><br>
                    <small id="small-s" class="form-text text-muted p-1 m-1">Las categorías que debes introducir son figuras de anime, de DC, de Marvel, de series,
                        <br>  de Disney, Funko POP o replicas a escala
                        </small>
                </div>
                <div class="form-group p-2">
                    <label for="fabricante" class="text-danger p-1 mr-">Fabricante de la figura:</label><br>
                    <input type="text" placeholder="Introduce fabricante" class="form-class m-1" id="fabricante" name="fabricante" size="50%"><br>
                    <small id="small-s" class="form-text text-muted p-1 m-1">Los fabricantes que debes introducir son Bandai, D-STAGE, Disney, Enesco, Funko,<br> Hasbro, Kotobuyika o Iron Studios 
                        </small>
                </div>
                <div class="form-group p-2">
                    <label for="precio" class="text-danger p-1">Precio del figura:</label><br>
                    <input type="text" class="m-1" placeholder="Introduce precio" class="form-class" id="precio" name="precio"  size="50%">
                </div>
                <div class="form-group p-2">
                    <label for="descripcion" class="text-danger p-1 me-5">Descripción de la figura:</label><br>
                    <input type="text" placeholder="Introduce una descripción de la figura" class="form-class m-1" id="descripcion" name="descripcion" size="50%">
                </div>
                <button type="submit" class="btn btn-danger m-2">Añadir</button>
            </form>
        </div>
    

</div>
    

<%- include("../template/footer") %>
