<%- include("../template/cabecera") %>
<div class="container">
    <h1>Añadir manga</h1>

    <form action="/manga" method="post">
        <input type="text"placeholder="Título del manga" class="form-class" name="titulo">
        <input type="text"placeholder="Nombre del autor" class="form-class" name="autor">
        <input type="text"placeholder="Número de páginas" class="form-class" name="numPagina">
        <input type="text"placeholder="Nombre de la editorial" class="form-class" name="editorial">
        <input type="text"placeholder="Categoría" class="form-class" name="categoria">
        <input type="text"placeholder="Tipo de tapa" class="form-class" name="tipoTapa">
        <input type="text"placeholder="Tamaño" class="form-class" name="tamanio">
        <input type="text"placeholder="Precio del manga" class="form-class" name="precio">
        <button type="submit" class="btn btn-danger">Añadir</button>
    </form>

</div>
    

<%- include("../template/footer") %>
