<%- include("../template/cabecera") %>
<div class="container ">
    <h1 class="d-flex flex-row justify-content-center alig-items-center">Añadir juego de mesa</h1>
        <div class="d-flex flex-row justify-content-center alig-items-center">
            <form action="/juego_mesa" method="post">
                <div class="form-group p-2">
                    <label for="nombre" class="text-danger p-1 me-5">Nombre del juego:</label><br>
                    <input type="text" placeholder="Introduce el nombre del juego" class="form-class m-1" id="nombre" name="nombre" size="50%">
                </div>
                <div class="form-group p-2">
                    <label for="categoria" class="text-danger p-1">Categoría del juego:</label><br>
                    <input type="text" placeholder="Introduce la categoría" class="form-class m-1" id="categoria" name="categoria" size="50%"><br>
                    <small id="small-s"  class="form-text text-muted p-1">Las categorías que se tienen que introducir son Acción, Arcade, Deportivo, Estrategia, Simulación,<br> Juegos musicales, Dados, Rol o Cartas.</small>

                </div>
                <div class="form-group p-2">
                    <label for="descripcion" class="text-danger p-1">Descripción del juego:</label><br>
                    <input type="text"  placeholder="Introduce descripción" class="form-class m-1" id="descripcion" name="descripcion" size="50%">
                </div>
                <div class="form-group p-2" >
                    <label for="precio" class="text-danger p-1">Precio del juego:</label><br>
                    <input type="text" placeholder="Introduce precio" class="form-class m-1" id="precio" name="precio"  size="50%"><br>

                </div>
                <div class="form-group p-2">
                    <label for="fabricante" class="text-danger p-1 mr-">Fabricante del juego:</label><br>
                    <input type="text"  placeholder="Introduce el fabricante" class="form-class m-1" id="fabricante" name="fabricante" size="50%"><br>
                    <small id="small-s" class="form-text text-muted p-1 m-1">Los fabricantes que debes introducir son Bandai, Asmodee, Devir, Edge Ent<br> o Elevent Force.
                    </small>
                </div>
                <div class="form-group p-2" >
                    <label for="numero_jugadores" class="text-danger p-1">Número de jugadores:</label><br>
                    <input type="text"  placeholder="Introduce número de jugadores" class="form-class m-1" id="numero_jugadores" name="numero_jugadores"  size="50%"><br>
                </div>
                
                <button type="submit" class="btn btn-danger m-2">Añadir</button>
            </form>
        </div>
    

</div>
    

<%- include("../template/footer") %>